<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }} — Interaction Studio</title>
	<meta name="description" content="Class website for Core 2 Interaction, Spring 2023 at Parsons">
	<meta name="author" content="Marie Otsuka">
	<link rel=icon href=/assets/img/favicon.png type="image/png">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/assets/js/script.js"></script>
</head>
<body id="{{title|slugify}}">
{% include 'partials/header' %}
<div class="container active-area">
	<main class="content">
		{{ content }}		
	</main>
	{% include 'partials/footer.html' %}
</div>
<div id="tag-label">
	<<span class="tag-name"></span>>
</div>
</body>
</html>
