---
layout: default.liquid
---

<article>
	<h1><span class="print">Core 2 Interaction </span>{{ title }}</h1>
	{{ content }}
</article>

<div class="schedule print">
	<h1>Schedule</h1>
	<ul class="index-list">
		{% assign weeks = collections.schedule %}
		{% for week in weeks %}
		<li class="accordion open">
			{% include "partials/week" w:week %}
		</li>
		{% endfor %}
	</ul>
</div>
