---
title: "Readings"
permalink: "/readings/index.html"
layout: page
eleventyExcludeFromCollections: true
---

<div class="readings">
	<p>
		Readings will be dispersed throughout the semester to inform and contextualize our work with each project. Be prepared to respond, raise questions, and discuss the text during class.
	</p>
	<section class="reading-list">
	{% assign readings = collections.reading %}
	{% for r in readings %}
		<a href="{{r.data.link}}" target="_blank" class="reading">
			<div class="title"> {{r.data.title}}</div>
			<div class="author">{{r.data.author}}</div>
		</a>
	{% endfor %}
	</section>
</div>