@font-face {
  font-family: 'CaperVF';
  src: url('/assets/fonts/CaperVF.woff2'); 
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/assets/fonts/IBMPlexMono-Text.woff2'); 
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-variation-settings: 'wght' var(--wght), 'wdth' var(--wdth);
}

/*------------------
BASICS
-------------------*/
:root {
	// --maincolor: rgb(20 0 255);
	// --secondcolor: rgb(35 100 20);
	// --thirdcolor: rgb(255 55 0);
	// --code-bgcolor: rgb(255 236 212);
	// --grey: rgb(255 255 255);

  --maincolor: rgb(17 29 72); //main body 
  --secondcolor: rgb(250 90 75);
  --thirdcolor: rgb(60 100 245); //links
  --code-bgcolor: rgb(255 255 215);
  --grey: rgb(251 251 255);

  --dark-grey:  rgb(180 180 180);
  
  --wght: 400;
  --wdth: 20;

  --menuheight: 40px;
  --footerheight: 80px;
  --base: 1.2rem;

  --ss03: 1;

  --maxwidth: 80%;
  --margin: calc( ( 100vw - var(--maxwidth) )*0.5 );
  --pad-large: 4rem;
  --pad: 2.5rem;
  --pad-medium: 1rem;
  --pad-small: 0.5rem;
}

body{
	font-family: 'Caper';
	// font-family: serif;
  line-height: 1.5;
	font-size: var(--base);
  color: var(--maincolor);
  background: var(--grey);
}

a{
	color: var(--thirdcolor);
	text-decoration: none;
}
a:hover{
	--ss03: 0;
	color: var(--secondcolor);
}

@mixin codetext{
	font-family: 'IBMPlexMono', monospace;
	font-size: 0.9em;
}
@mixin meta{
	text-align: left;
	font-size: 1rem;
}

@mixin heading{
	letter-spacing: .03em;
	text-transform: uppercase;
	--wght: 800;
}

@mixin largetext{
	font-size: 4.8rem;
	letter-spacing: 0;
	text-transform: none;
	--wght: 120;
	text-indent: -0.1em;
}

@mixin basetext{
	font-size: var(--base);
  --wght: 400;
  --wdth: 20;
  letter-spacing: 0.02em;
  line-height: 1.3;
}

@mixin smalltext{
	--wght: 440;
	letter-spacing: 0.03em;
	font-size: 1rem;
}

@mixin mediumtext{
	font-size: 2rem;
	line-height: 1.2;
	--wght: 400;
  --wdth: 10;
  color: var(--secondcolor);
  max-width: 30em;
}

@mixin rowborder{
	padding: var(--pad-small) 0;
	border-bottom: 1px solid var(--maincolor);
	&:last-child{
		border-bottom: 0;
	}
}

.meta{
	@include heading;
	@include smalltext;
}
/*------------------
TYPOGRAPHY
-------------------*/
body{
	font-family: 'CaperVF';
	@include basetext;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
h1{
	@include heading;
	--wght: 900;
	letter-spacing: 0;
	font-size: 2em;
	line-height: 1.0;
	margin-top: 1em;
	margin-bottom: 0.25em;
	color: var(--secondcolor);
	// border-top: 1px solid var(--secondcolor);
	padding-top: 0.5em;
}
h1:first-child{
	margin-top: 0;
}
h2,h3{
	color: var(--secondcolor);
}
h2{
	--wght: 600;
	@include heading;
	font-size: var(--base);
	line-height: 1.2;
}
h3{
	--wght: 600;
	font-size: var(--base);
}
h3{
	margin-top: var(--pad-medium);
	margin-left: var(--pad);
}
h4, h5{
	@include smalltext;
}
article {
	h2{
		margin-top: var(--pad);
	}
	table+h3{
		margin-top: var(--pad);
	}
	h4{
		margin-top: var(--pad-medium);
	}
	li{
		@include smalltext;
	}
	p,h4, ul, ol{
		margin-left: var(--pad);
	}
	p+p{
		text-indent: var(--pad);
	}
	ul, ul+p, ol+p{
		margin-top: var(--pad-medium);
	}
	pre{
		margin: var(--pad-medium) 0;
	}
}
h2, h3, h4, p, ul, ol, pre, table{
	max-width: 840px;
}

p a, li a{
	&::after{
		content: '→';		
	}
}

.note{
	margin-top: var(--pad);
	@include smalltext;
	background: var(--code-bgcolor);
}
/*------------------
LISTS
-------------------*/

ul{
	list-style-type: none;
}
ul li{
	list-style-type: none;
	&::before{
		content: "— ";
	}
}

.anchor{
	position: relative;
	top: -100px;
}

strong {
	font-weight: normal;
	--wght: 700;
	white-space: nowrap;
}

em {
	font-style: normal;
	--wght: 700;
}

blockquote {
	@include mediumtext;
	text-indent: -.4em;
	color: var(--secondcolor);
}

//syntax highlighting
pre {
	background: var(--code-bgcolor);
	color: var(--maincolor);
	padding: 8px;
	white-space: pre-wrap;
	font-size: .8em;
	--wght: 500;
}

p code{
	font-size: 0.8em;
}
code{
	letter-spacing: 0;
	@include codetext;
	font-style: normal;
	background: var(--code-bgcolor);

	.token{
		color: var(--thirdcolor);
	}
	.rule, .selector, .keyword{
		color: rgb(85,85,85);
	}
	.property, .tag, .function{
		color: var(--secondcolor);
	}
	.string, .attr-value{
		color: var(--maincolor);
	}
	.attr-name{
		color: rgb(175, 160, 80);
	}
}


/*------------------
HEADER and NAV
-------------------*/
nav{
	.home{
		@include heading;
	}
	.top-nav{
		padding-top: var(--pad-medium);
		display: flex;
		a{
			line-height: 1.0;
			margin-right: var(--pad);
		}
	}

	.nav-links{
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 30vw;
		height: 100vh;
		background: var(--secondcolor);
		z-index: 200;
		padding:  var(--pad-medium) var(--pad);
		color: white;
		a{
			display: block;
			color: white;
			&:hover{
				--ss03: 1;
			}
		}
		.meta{
			--wght: 450;
		}
	}
	&.open {
		.nav-links{
			display: block;
		}
		#menu-icon{
			color: white;
		}
	}
}
a[target=_blank]{
	position: relative;
}
a[target=_blank]::after{
	content: '↗ ';
}

#menu-icon{
	position: fixed;
	right: var(--pad-small);
	top: 0;
	z-index: 250;
	width: 60px;
	padding: var(--pad-medium);
	font-size: 30px;
	&:hover{
		cursor: pointer;
		color: var(--thirdcolor);
	}
	.menu-line{
		height: 3px;
		background: var(--maincolor);
		margin: 3px;
	}
}


/*------------------
STRUCTURES
-------------------*/

.container{
	max-width: var(--maxwidth);
	margin: auto;
}
header{
	height: var(--menuheight);
}
footer{
	height: var(--footerheight);
}

main{
	padding: var(--pad-large) 0 var(--pad-large);
	min-height: calc(100vh - var(--footerheight) - var(--menuheight));
}

section{
	margin: var(--pad) 0 var(--pad-large);
}

.grid{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: var(--pad-small);
}



/*------------------
HOMEPAGE INDEX
-------------------*/
.index{
	dt{
		border-bottom: 0;
		display: block;
		.unit, .phase{
			display: none;
		}
	}
	dd{
		display: block;
	}
	h2{
		@include largetext;
		--wght: 800;
		max-width: none;
		line-height: 0.9;
		margin-bottom: 15px;
	}
	.row, h4{
		@include basetext;
	}

	time{
		display: inline-block;
	}

	ul{
		margin-bottom: 0;
		padding-left: 0;
		li{
			text-indent: 0;
			padding-left: 0;
		}
		li::before{
			content: '';
		}
	}
}

// READING LIST
.reading{
	@extend .grid;
	@include rowborder;
	.title{
		grid-column: 1/4;
	}
	.author{
		grid-column: 4/-1;
	}
	&::after{
		position: absolute;
		right: 0;
		top: var(--pad-small);
	}
	&:hover{
		color: var(--secondcolor);
	}
}
// LINK BOXES LISTS

.link-list {
	display: flex;
	flex-wrap: wrap;
}
.students{
	.link-button{
		width: calc(33% - 1em);
		@media screen and (min-width: 1000px){
			width: calc(20% - 1em);
		}
	}
}


/*------------------
SCHEDULE
-------------------*/

//modalities
.in-person{
	color: var(--secondcolor);
}
.remote{
	color: var(--thirdcolor);
}
time{
	color: var(--secondcolor);
}
.accordion{
	text-indent: 0;
	padding-left: 0;
	&:before, li::before{
		content: none;
	}

}

.dropdown-title {
	color: var(--secondcolor);
	margin: 2em 0 0;
	border-bottom: 1px solid;
	@extend .grid;
	&:hover{
		cursor: pointer;
	}	
}

.unit{
	grid-column: 2/4;
}
.phase{
	grid-column: 4/-1;
}

.dropdown-content {
	display: none;
}

.accordion.open .dropdown-content{
	display: block;
}

.row{
	@extend .grid;
	@include rowborder;
	@include smalltext;

	p{
		margin-bottom: 0;
	}
}

.day{
	grid-column: auto / span 2;
}
//14th week exception
.schedule .index-list li:nth-child(14){
	.week-title::after{
		content: '*';		
	}
	.day{
		grid-column: auto / span 1;
	}
}

.item{
	grid-column: 2 / -1;
}


/*------------------
SYLLABUS
-------------------*/

dl{
	display: grid;
	grid-template-columns: 150px auto;
	padding-left: var(--pad);
	@include smalltext;
}
// table styles
table{
	margin-top: var(--pad);
	width: 100%;
	border-collapse: collapse;
}
th{
	@include heading;
	--wght: 440;
	text-align: left;
}
th, td{
	@include smalltext;
	padding: var(--pad-small) var(--pad-small) 0 0;
	box-sizing: border-box;
	vertical-align: top;
}

#syllabus{
	td:first-child, th:first-child{
		width: 28%;
	}
	td:last-child, th:last-child{
		width: 30px;
		text-align: right;
	}
}

th{
	border-bottom: 1px solid var(--maincolor);
}

.content td ul{
	padding-left: 0;
	margin-bottom: 0;
}

#tag-label{
	display: none;
	position: absolute;
	--wght: 800;
  // --maincolor: rgb(17 29 72); //main body 
  // --secondcolor: rgb(250 90 75);
  // --thirdcolor: rgb(60 100 245); //links
  box-shadow: inset 2px 2px 4px var(--thirdcolor);

  // mix-blend-mode: multiply;
  padding: 8px;
  line-height: 1;
  
  z-index: 100;
  color: var(--thirdcolor);
  font-size: 2rem;
}

.box{
	border: 1px solid var(--secondcolor);
}


/*------------------
PROJECTS
-------------------*/
.projects a{
	--ss03: 0;
}
h2.project{
	@include largetext;
}

figcaption{
	@include meta;
	margin-bottom: 2rem;
}


/*------------------
Exercises
-------------------*/

.layouts{
	display: flex;
	.mockup{
		width: 240px;
		position: relative;
		padding-top: 50px;
		figcaption{
			position: absolute;
			top: 0;
		}
		margin: 50px;
	}
}

.block{
	border: 1px solid;
	padding: 5px;
}

.image-block{
		width: 80px;
		height: 80px;
		margin-right: 10px;
}

.text-block{
		width: 100px;
}

.layout1{
	.text-block{
		margin: auto;
		height: auto;
	}
}
.layout2{
	display: flex;
	.text-block{
		margin-right: 10px;
	}
}
.layout3{
	display: flex;
	height: 200px;
	.text-block{
		height: 150px;
		overflow: scroll;
	}
}


/*------------------
RESOURCES
-------------------*/
.resources{
	position: relative;
	article{
		width: calc(100% - 250px - 4em);
	}
	aside{
		position: absolute;
		top: 6em;
		right: 0;
		width: 250px;
		border-left: 1px solid var(--thirdcolor);
		padding-left: var(--pad);
		margin-left: var(--pad);
		.notes a{
			display: block;
			margin-bottom: 0.5em;
		}
	}
}

.link-button{
	--ss03: 0;
	width: 250px;
	height: 120px;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid;
	margin: 0 1em 1em 0;
	line-height: 1.2;
	font-size: 0.9em;
	&:hover{
		border-style: dashed;
	}
}

.notecards{
	display: flex;
	flex-wrap: wrap;
}



/*------------------
GLOSSARY
-------------------*/
#glossary{
	p {
		margin-top: var(--pad-medium);
		text-indent: 0;
	}
	h2 + p {
		margin-top: 0;
	}
}

/*------------------
FOOTER
-------------------*/


footer{
	@include heading;
	--wght: 600;
	font-size: .85rem;
	border-top: 1px solid;
	padding-top: .5rem;
	height: var(--footerheight);
	ul{
		max-width: none;
	}
	li{
		list-style-type: none;
		display: inline-block;
		&:after{
			content: " * "
		}
		&:last-child:after{
			content: "";
		}
	}
}



// Dark mode styles

#dark-mode{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid var(--maincolor);
	position: fixed;
	right: 20px;
	top: 26px;
	&:hover{
		background: var(--maincolor);
		cursor: pointer;
	}
}


body.dark{
	--maincolor: rgb(250 201 201);

	background: rgb(30, 30, 40);
	header{
		background: rgb(30, 30, 40);
	}

	.element{
		background: rgb(30, 30, 40);
	}
}


/*------------------
DIAGRAMS
-------------------*/
// Classes for inline illustrations
p+pre{
	margin-top: var(--pad-medium);
}
.diagram {
	border: 1px solid var(--secondcolor);
	padding: 1em;
	margin: var(--pad);
	position: relative;

	h1,p,em{
		font-size: 16px;
		text-transform: none;
		font-family: serif;
		color: var(--maincolor);
		text-indent: 0;
	}
	h1{
		font-weight: bold;
		margin-bottom: 1em;
	}
	p{
		margin-bottom: 1em;
	}
	em{
		font-style: italic;
	}
}

.line{
	height: 1.5em;
	background: var(--dark-grey);
	margin-bottom: .5em;
}

.square{
	width: 80px;
	height: 80px;
	background: var(--dark-grey);
}
.flex{
	display: flex;
	justify-content: space-between;
}
.inline{
	width: 32%;
	height: 1.5em;
	margin-bottom: .5em;
}

.solid{
	background: transparent;
	border: 1px solid var(--thirdcolor);
}
.marked{
	background: var(--thirdcolor);
}


@keyframes vf{
	0%{
		font-variation-settings: 'wght' 20, 'wdth' 100, 'slnt' 0;
	}
	100%{
		font-variation-settings: 'wght' 140, 'wdth' 100, 'slnt' 0;
	}
}

@keyframes changecolor {
	0% {background-color: blue; } 
	50% {background-color: yellow; color: rgba(200,155,20,0.8); }
	100% {background-color: green; }
}

/*------------------
MEDIA QUERIES
-------------------*/


@media only screen and (max-width: 1200px) {
	.container{
		max-width: 90%;
	}
}
@media only screen and (max-width: 1000px) {
	:root{
		font-size: 15px;
	}

	.open .nav-links{
		width: 50vw;
	}

	.top-nav a:not(.home){
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	:root{
		font-size: 14px;
	}
	.container{
		max-width: 92%;
	}
	nav{
			@include mediumtext;
			margin-bottom: var(--pad);
		}
	.open .nav-links{
		width: 100vw;
	}

	th, td{
		font-size: 0.9em;
		--wght: 500;
	}
	h3, h4, h5, h6, .content ul{
		padding-left: 0;
	}
	article{
		p, h4, ul, ol{
			margin-left: 0;
		}
	}

	.link-button{
		height: 100px;
	}

	.index {
		h2{
			font-size: 3rem;
		}
	}
	//schedule
	.unit{
		grid-column: 2/-1;
	}
	.phase{
		display: none;
	}

	.row{
		gap: 1rem;
		grid-template-columns: repeat(4, 1fr);
		h4{
			grid-column: 1/-1;
			@include smalltext;
		}
		.item{
			grid-column-start: 1;
		}
	}

	//readings page
	.readings{
		.title{
			grid-column: 1/4;
		}
		.author{
			grid-column-start: 4;
		}
	}

	//resources page
	.resources{
		aside{
			margin-top: var(--pad-large);
			margin-left: 0;
			position: static;
	    width: 100%;
	    border: 0;
	    border-top: 2px solid;
	    padding: var(--pad) 0;
		}
		article{
			width: 100%;
		}
	}

}


.print{
	display: none;
}
@media print{
	.print{
		display: block;
	}
	:root{
		--pad: 1.5rem;
		--pad-small: 0.3rem;
		--pad-medium: 1rem;
		--pad-large: 2rem;
		font-size: 15px;
	}
	header{
		display: none;
	}
	body{
		font-size: 15px;
		color: black;
	}
	.container{
		max-width: 100%;
	}
	main{
		margin-left: 20vw;
	}
	h1,h2,h3,h4,p,ol,ul,dt,dd, time,a{
		color: black;
		font-size: 1rem;
	}

	blockquote p{
		display: none;
	}
	td{
		font-size: 0.85rem;
		padding-bottom: 0;
	}
	dt {
		h2, div{
			font-size: 0.85rem;
		}
	}
	.row{
		p, h4, ul, time, a{
			font-size: 0.85rem;
		}
	}

	h1{
		page-break-before: always;
	}
	h1, h2, h3, h4{
		page-break-after: avoid;
	}

	time{
		--wght: 700;
	}

	article{
		padding: 0;
		table{
			// -webkit-column-break-inside: avoid;
			// page-break-inside: avoid;
			// break-inside: avoid;
		}
		ul{
			max-width: 85%;
		}
		li{
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
		}
	}
	aside{
		display: none;
	}

}